
table{
    margin-left: auto;
    margin-right: auto;
}

.wrap {
    display: flex;
    flex-direction: column;
    height: auto;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header {
    height: 10%;
    padding: 1em;
    background-color: #84f08d;
}


.content
{
    display: flex;
    flex: 1;
}

